(
    {
        kind = 1;
        notificationIsPrior = 1;
        old = "James Watson: 1";
        path = description;
    },
        {
        kind = 1;
        notificationIsPrior = 1;
        old = 1;
        path = "account.ratio";
    },
        {
        kind = 1;
        notificationIsPrior = 1;
        old = 0;
        path = "account.downloaded";
    },
        {
        kind = 1;
        new = 8192;
        old = 0;
        path = "account.downloaded";
    },
        {
        kind = 1;
        new = 0;
        old = 1;
        path = "account.ratio";
    },
        {
        kind = 1;
        new = "James Watson: 0";
        old = "James Watson: 1";
        path = description;
    }
)