(
    {
        kind = 1;
        notificationIsPrior = 1;
        old = "<null>";
    },
    {
        kind = 4;
        new = (
        );
        notificationIsPrior = 1;
    },
        {
        kind = 4;
        new = (
        );
    },
        {
        kind = 1;
        new = (
        );
        old = "<null>";
    }
)