(
        {
        kind = 1;
        notificationIsPrior = 1;
        old =         (
        );
    },
        {
        kind = 4;
        notificationIsPrior = 1;
        old =         (
        );
    },
        {
        kind = 4;
        old =         (
        );
    },
        {
        kind = 1;
        new = "<null>";
        old =         (
        );
    }
)